/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #191919;
}
a{
    text-decoration: none;
    color: #fff;
}
.rainbow-btn{
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    background-image: linear-gradient(
        90deg,
        #00c0ff 0%,
        #ffcf00 49%,
        #fc4f4f 80%,
        #00c0ff 100%
    );
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: bold;
}
.rainbow-btn::after{
    content: attr(alt);
    width: 20vw;
    height: 8vw;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rainbow-btn:hover{
    animation: slideBg 2s linear infinite;
}
@keyframes slideBg {
    to{
        background-position: 20vw;
    }
}